apiVersion: temporal.io/v1alpha1
kind: TemporalWorkerDeployment
metadata:
  name: helloworld
  labels:
    app.kubernetes.io/name: hello-world-worker
    app.kubernetes.io/instance: demo
spec:
  # Configuration for connecting to Temporal
  workerOptions:
    connectionRef:
      name: dev-server
    #    temporalNamespace: "replay-2025.ktasd"
    temporalNamespace: "worker-controller-test.a2dd6"

  # How to rollout new workflow executions to the latest worker version
  rollout:
    strategy: Progressive
    steps:
      # Increase traffic from 1% to 10% over 15 seconds
      - rampPercentage: 1
        pauseDuration: 30s
      - rampPercentage: 5
        pauseDuration: 30s
      - rampPercentage: 10
        pauseDuration: 30s
      # Increase traffic to 50% and wait 1 minute
      - rampPercentage: 50
        pauseDuration: 1m
    gate:
      workflowType: "HelloWorld"
  sunset:
    scaledownDelay: 30s
    deleteDelay: 1m
  # Desired number of worker replicas
  replicas: 1
  # Desired specification for worker pods
  template:
    metadata:
      annotations:
        force-new-version: ""
    spec:
      containers:
        - name: main
          image: helloworld
          readinessProbe:
            httpGet:
              port: 8080
          env:
            - name: TEMPORAL_TASK_QUEUE
              value: "hello_world"
---
apiVersion: temporal.io/v1alpha1
kind: TemporalConnection
metadata:
  name: dev-server
spec:
  hostPort: "replay-2025.ktasd.tmprl.cloud:7233"
#  hostPort: "worker-controller-test.a2dd6.tmprl.cloud:7233"
  mutualTLSSecretRef:
    name: temporal-cloud-mtls
